body{margin:0px;padding:0px;background-color:#EEE;}
a:hover{text-decoration:none;}
#content{background:none repeat scroll 0 0 #EEE;padding-bottom:25px;position:relative;min-height:450px;width:auto;border-top-left-radius: 8px;}
.container-fluid .row-fluid:first-child{margin-top:20px;}
#breadcrumb{background-color:#e5e5e5;box-shadow: 0 0 1px #FFF;border-top:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;padding-left:10px;}
#breadcrumb a{padding: 8px 20px 8px 10px;display:inline-block;background-image:url('/assets/breadcrumb.png');background-position:center right;background-repeat:no-repeat;font-size:11px;color:#666666;}
#breadcrumb a:hover{color:#333;}
#breadcrumb a:last-child{background-image:none;}
#breadcrumb a.current{font-weight:bold;color:#444;}
#breadcrumb a i{margin-right:5px;margin-top:-1px;opacity:.6;}
.widget-box{background:none repeat scroll 0 0 #F9F9F9;border:1px solid #CDCDCD;clear:both;margin-top:16px;margin-bottom:16px;position:relative;}
.widget-box.widget-calendar, .widget-box.widget-chat{overflow:hidden !important;}
.accordion .widget-box{margin-top: -2px;margin-bottom:0;border-radius:0;}
.widget-box.widget-plain{background: transparent;border:none;margin-top:0;margin-bottom:0;}
.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header {
	background-color:#efefef;
	background-image:-webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
	background-image:-webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image:-moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image:-ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image:-o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image:-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    border-bottom:1px solid #CDCDCD;height:36px;
}
.widget-title span.icon{border-right: 1px solid #cdcdcd;padding: 9px 10px 7px 11px;float: left;opacity: .7;}
.widget-title h5{color:#666;text-shadow: 0 1px 0 #FFF;float:left;font-size:12px;font-weight:bold;padding:12px;line-height:12px;margin:0;}
.widget-title .label{padding: 3px 5px 2px;float:right;margin: 9px 15px 0 0;box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #FFF;}
.widget-content {padding: 12px 15px;}
.widget-box.widget-plain .widget-content{padding: 12px 0 0;}
.nopadding {padding: 0 !important;}
.nopadding .table{margin-bottom:0;}
.nopadding .table-bordered{border:0;}
#footer{text-align:center;color:#777;font-size:12px;}
form{margin-bottom:0;}
.form-horizontal .control-group{border-top:1px solid #fff;border-bottom:1px solid #eee;margin-bottom:0;}
.form-horizontal .control-group:last-child{border-bottom:0;}
.form-horizontal .control-label{padding-top:15px;width:180px;}
.form-horizontal .controls{margin-left:200px;padding: 10px 0;}
.form-horizontal textarea, .form-horizontal input{width:100%;font-size:12px;}
.form-horizontal .form-actions{margin-top:0;margin-bottom:0;}
.multiple{width:81%;}
.help-block{font-size:12px;}
.control-label,.controls{font-size:12px;color:#666;}
.error {
    color: #b94a48;
}
#error-info{display:none;font-size:12px;color:#b94a48;margin-left:200px;padding-top:16px;}
.recent-posts li, .recent-comments li, .article-post li, .recent-users li {border-bottom: 1px dotted #AEBDC8;list-style: none outside none;padding: 10px;font-size: 12px;font-family:'lucida grande',helvetica,verdana,arial,sans-serif;color: #a9a9a9;}
li {line-height: 20px;}
* {outline: medium none !important;}
.widget-content p {color: #0480be;}
.widget-title a {color: #FFFFFF;}
.widget-title a:hover {color: #FFFFFF;}
.tip-top {font-size: 12px;font-family:'lucida grande',helvetica,verdana,arial,sans-serif;color: #a9a9a9;}
.viewall {text-align: right;}
.comments div {color: #0480be;}
.campaign li {padding-left: 24px;color: #2B2B2B;}
.right{float: right;}
.dialout{padding-left:12px;margin-left:8px;margin-top:1px;background: url(/assets/dialout.gif) no-repeat;cursor:pointer}
